{% extends "base.html" %}

{% block script %}
    <script type="text/javascript" charset="utf-8">

        var namespace = '/allnotifs';
        var socket = io.connect(location.protocol + "//" + location.host + namespace);
        socket.on('connect', function() {
            socket.emit('joined', {});
        });
        socket.on('my_response', function(msg) {
          $('#notifs').append($('<li>').html(msg.data));
            console.log(msg);
        });
        function leave_room() {
            socket.emit('left', {}, function () {
                socket.disconnect();
                window.location.href = "{{ url_for('index') }}"
            });
        }
    </script>
{% endblock %}

{% block body %}
    <h3>Welcome to All Notifs</h3>
    <h4>Notifications of all the rooms will appear here.</h4>
    
    <div id="notifs">
    </div>

    <a class="btn btn-sm btn-success" href="#" onclick="leave_room();">Leave this room</a>
{% endblock %}
