<div class="header-list">
    <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        {% if not current_user.is_authenticated %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('rooms') }}">Rooms</a></li>
            <li><a href="{{ url_for('notifs') }}">Notification</a></li>
            <li><a href="{{ url_for('updatedb') }}">Update DB</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% endif %}
    </ul>
</div>
