{% extends "base.html" %}

{% block body %}
    <h1>Welcome to Update db</h1>
    <br>
    <form class="form-signin" autocomplete="off" role="form" method="post" action="">
      {{ form.csrf_token }}
      <p>
        {{ form.room(placeholder="Room") }}
        <span class="error">
          {% if form.room.errors %}
            {% for error in form.room.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </span>
      </p>
      <p>
      {{ form.update(placeholder="Update") }}
        <span class="error">
          {% if form.update.errors %}
            {% for error in form.update.errors %}
              {{ error }}
            {% endfor %}
          {% endif %}
        </span>
      </p>
      {{ form.submit(class="btn btn-sm btn-success") }}
      {# <button class="btn btn-sm btn-success" type="submit">Sign in</button> #}
    </form>

{% endblock %}
